.button
  display: inline-block
  border: unset
  min-width: 200px
  height: 48px
  padding: 0 18px
  border-radius: 60px
  font-weight: 600
  font-size: 16px
  line-height: 24px
  text-align: center
  cursor: pointer
  outline: unset

  &_orange
    background: $orange-gradient
    color: $text
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.16)
    &:disabled
      background: $disabled !important
      color: $text-disabled !important
      cursor: no-drop
    &:hover
      background: $orange-hover
    &:active
      background: $orange
  
  &_blue
    background: $blue-bg
    color: $blue-hover
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25)
    position: relative
    background-clip: padding-box;
    border: solid 2px transparent;
    &::before 
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: -2px;
      border-radius: inherit;
      background: $blue-gradient
    &:disabled
      background: $blue-bg !important
      color: $text-disabled !important
      border-color: $text-disabled !important
      cursor: no-drop
      box-shadow: none !important
    &:hover
      background: $blue-hover
      border-color: $blue-hover
      color: $text-black
      box-shadow: 0px 10px 40px $shadow
    &:active
      background: $blue-bg
      border-color: $blue
      color: $blue-hover
    
  &_orange-hollow
    background: transparent
    border: 2px solid $orange
    color: $text
    transition: all ease-in-out 200ms
    &:disabled
      background: transparent !important
      color: $text-disabled !important
      border-color: $text-disabled !important
      cursor: no-drop
    &:hover
      background: $orange-hover
      border-color: $orange-hover
    &:active
      background: $orange
      border-color: $orange

.part-checkbox
  display: inline-block
  &__input
    display: none
  &__label
    display: inline-block
    vertical-align: top
    width: 48px
    height: 48px
    box-sizing: border-box
    border: 2px solid $checkbox-bg
    border-radius: 5px
    text-align: center
    background: $checkbox-bg
    cursor: pointer
    transition: all ease-in-out 250ms
    svg
      transition: fill ease-in-out 250ms
      fill: $text
      width: 70%
      height: 100%
      .stroke
        transition: stroke ease-in-out 250ms
        stroke: $text
    &:hover svg
      fill: $orange
      .stroke
        stroke: $orange
  &__input:checked + &__label
    border-color: $orange
    background: transparent
    svg
      fill: $orange
      .stroke
        stroke: $orange
  &__input:disabled + &__label
    cursor: no-drop
    svg
      fill: $disabled !important
      .stroke
        stroke: $disabled !important

.checkbox
  display: inline-block
  &__input
    display: none
  &__label
    cursor: pointer
    font-weight: 500
    font-size: 16px
    line-height: 24px
    &::before
      content: ''
      display: inline-block
      vertical-align: middle
      width: 24px
      height: 24px
      border: 2px solid $text-grey
      margin-right: 12px
      margin-top: -4px
      box-sizing: border-box
      transition: border ease-in-out 250ms
    &::after
      position: absolute
      top: -2px
      left: 5px
      content: url('../img/svg/check.svg')
      transition: opacity ease-in-out
      opacity: 0
    &:hover::before
      border-color: $disabled
  &__input:checked + &__label
    position: relative
    &::before
      border-color: $text-grey
    &::after
      opacity: 1
  &__input:disabled + &__label
    cursor: no-drop
    &::before
      border-color: $checkbox-bg

.link
  color: $orange
  text-decoration: none
  display: inline-block
  &::after
    content: ''
    display: block
    width: 100%
    height: 1px
    opacity: 1
    background-color: $orange
    transition: width ease-in-out 250ms, opacity ease-in-out 250ms
  &:hover::after
    width: 0
    opacity: .5

.radio
  display: inline-block
  &__input
    display: none
  &__label
    cursor: pointer
    font-size: 12px
    line-height: 16px
    &::before
      content: ''
      display: inline-block
      vertical-align: middle
      width: 24px
      height: 24px
      border: 2px solid $text-grey
      border-radius: 50%
      margin-right: 12px
      margin-top: -4px
      box-sizing: border-box
      transition: border ease-in-out 250ms
    &::after
      position: absolute
      top: 0
      left: 4px
      content: ''
      display: block
      width: 16px
      height: 16px
      border-radius: 50%
      background: $orange
      transition: opacity ease-in-out
      opacity: 0
    &:hover::before
      border-color: $disabled
  &__input:checked + &__label
    position: relative
    &::before
      border-color: $text-grey
    &::after
      opacity: 1
  &__input:disabled + &__label
    cursor: no-drop
    &::before
      border-color: $checkbox-bg