section.buy
  .scroll-block.buy__scroll-block
    span.scroll-block__num 03
  .content.buy__content
    h2.content__title.content__title_section Рынок комплектующих
    .buy__items-wrap
      +buy-item('buy', 'arm', 'Биомеханизм')
      +buy-item('buy', 'cpu', 'Процессор')
      +buy-item('buy', 'soul', 'Душа')