section.create
  .scroll-block.create__scroll-block
    span.scroll-block__num 05
  .content.create__content
    h2.content__title.content__title_section Производство
    .create__production
      .create__radio-group-warp
        p.create__radio-name Тип биоробота:
        +radio('create', 'FrontEnd', 'type', 'F', 'FrontEnd', true, false)
        +radio('create', 'Design', 'type', 'D', 'Design', false, false)

        p.create__radio-name Cтабилизатор:
        +radio('create', 'Male', 'stab', 'M', 'Male', true, false)
        +radio('create', 'Famale', 'stab', 'F', 'Famale', false, false)

        +button('create', 'orange-hollow', 'Произвести за 0 монет', true)
      .create__chekbox-group-warp
        +part-checkbox('create','arm1', 'arm', false, true)
        +part-checkbox('create','arm2', 'arm', false, true)
        +part-checkbox('create','arm3', 'arm', false, true)
        +part-checkbox('create','arm4', 'arm', false, true)
        br
        +part-checkbox('create', 'cpu1', 'cpu', false, true)
        +part-checkbox('create', 'cpu2', 'cpu', false, true)
        +part-checkbox('create', 'cpu3', 'cpu', false, true)
        +part-checkbox('create', 'cpu4', 'cpu', false, true)
        br
        +part-checkbox('create', 'soul1', 'soul', false, true)

        p.create__info Для производства биоробота не хватает 
          span.create__info-update 4 биомеханизма, 4 процессора и души

      .create__img-group-warp
        img(src="/assets/img/@1x/FM_3.png", alt="Biorobot")