section.sale
  .scroll-block.sale__scroll-block
    span.scroll-block__num 04
  .content.sale__content
    h2.content__title.content__title_section Склад
    .sale__items-wrap
      +sale-item('sale', 'arm', 'Биомеханизм')
      +sale-item('sale', 'cpu', 'Процессор')
      +sale-item('sale', 'soul', 'Душа')