section.start-screen
  .scroll-block.start-screen__scroll-block
    span.scroll-block__num 01
    span.scroll-block__dir
      include ../svg/arrow.svg
      | СКРОЛЛ
  .content.start-screen__content
    h1.content__title Фабрика по производству биороботов
      span.content__sub-title  класса «монитор-кресло»
    .start-screen__img
      img(src="/assets/img/@1x/header_img.png", alt="Фабрика по производству биороботов")