section.wallet
  .scroll-block.wallet__scroll-block
    span.scroll-block__num 02
  .content.wallet__content
    h2.content__title.content__title_section Кошелёк криптовалют
    .wallet__coin-wrap
      img(class="wallet__coin_img" src="/assets/img/@1x/coin.png", alt="coin" style="z-index:100") 

    p(class="wallet__coin-count" data-coin=startCoinCount) 
      span.wallet__count 1
      |  biorobo монета
    a(id="add-coins" href="javascript:void(0)", title="Нацыганить" data-up=upBy class="link wallet__link") Нацыганить
    +checkbox('wallet', 'upBy', 'Цыганить по монет', false, false)
      