mixin button(parent, color, text, disabled)
  button(class="button button_"+color+" "+parent+"__button" disabled=disabled) #{text}

mixin part-checkbox(parent, id, icon, checked, disabled)
  div(class="part-checkbox "+parent+"__part-checkbox")
    input(id=id type="checkbox" name=id value="Y" class="part-checkbox__input" checked=checked disabled=disabled)
    label(for=id class="part-checkbox__label")
      case icon
        when 'arm'
          include ../includes/svg/arm.svg
        when 'cpu'
          include ../includes/svg/cpu.svg
        when 'soul'
          include ../includes/svg/soul.svg
    
mixin checkbox(parent, id, text, checked, disabled)
  div(class="checkbox "+parent+"__checkbox")
    input(id=id type="checkbox" value="Y" name=id class="checkbox__input" checked=checked disabled=disabled)
    label(for=id class="checkbox__label") #{text}

mixin radio(parent, id, name, value, text, checked, disabled)
  div(class="radio "+parent+"__radio")
    input(id=id type="radio" value=value name=name class="radio__input" checked=checked disabled=disabled)
    label(for=id class="radio__label") #{text}

mixin buy-item(parent, icon, name)
  div(class="buy-item "+parent+"__item")
    .buy-item__icon
      case icon
        when 'arm'
          include ../includes/svg/arm_glow.svg
        when 'cpu'
          include ../includes/svg/cpu_glow.svg
        when 'soul'
          include ../includes/svg/soul_glow.svg
    p(class="buy-item__name" data-name=icon) #{name}
    p(class="buy-item__price") Стоимость: 0 монет
    +button('buy-item', 'orange', 'Установить', false)

mixin sale-item(parent, id, name)
  div(class="sale-item "+parent+"__item")
    p(class="sale-item__name" data-name=id) #{name}
    p(class="sale-item__price") Стоимость: 0 монет
    p.sale-item__cur-count
      span(class="sale-item__count") 0
      |  шт
    +button('sale-item', 'blue', 'Продать', true)

mixin modal(id, title, text, coin)
  .modal(id=id)
    .modal__body
      button(class="modal__button" onclick="this.parentNode.parentNode.style.display = 'none';")
        include ../includes/svg/cross.svg
      if coin
        img(class="modal__img" src="/assets/img/@1x/coin.png", alt="Coin")
      p.modal__title #{title}
      p.modal__text #{text}