extends ../layout/main

block variables
  - var title = 'Biorobots';
  - var description = 'Biorobots creation';
  - var PageClass = 'index-page';

block content
  include ../includes/modules/start_screen

  include ../includes/modules/wallet

  include ../includes/modules/buy

  include ../includes/modules/sale

  include ../includes/modules/create

  +modal('modal_max', 'Количество монет ограничено', 'Вы не можете нацыганить более 100 монет biorobo', true)
  +modal('modal_success', 'Биоробот произведён', 'Поздравляем! Вы произвели биоробота', false)