extends ../layout/main

block variables
  - var title = 'UI Kit';
  - var description = 'UI Kit for whole project';
  - var PageClass = 'index-page';

block content
  section.ui-kit
    +button('ui-kit', 'orange', 'Button orange', false)
    +button('ui-kit', 'orange', 'Button orange disable', true)

    span.break

    +button('ui-kit', 'blue', 'Button blue', false)
    +button('ui-kit', 'blue', 'Button blue disable', true)

    span.break

    +button('ui-kit', 'orange-hollow', 'Button Orange-Hollow', false)
    +button('ui-kit', 'orange-hollow', 'Button Orange-Hollow disable', true)

    span.break

    +part-checkbox('ui-kit', 'arm', 'arm', true, false)
    br
    +part-checkbox('ui-kit', 'cpu', 'cpu', false, true)
    br
    +part-checkbox('ui-kit', 'soul', 'soul', false, false)

    span.break

    +checkbox('ui-kit', 'cb', 'CheckBox', false, false)
    br
    +checkbox('ui-kit', 'cb-selected', 'CheckBox active', true, false)
    br
    +checkbox('ui-kit', 'cb-dis', 'CheckBox disable', false, true)

    span.break

    a.link.ui-kit__link(href="#") Link text

    span.break
    +radio('ui-kit', 'rb1', 'rb', '1', 'Radio Button', false, false)
    br
    +radio('ui-kit', 'rb2', 'rb', '1', 'Radio Button selected', true, false)
    br
    +radio('ui-kit', 'rb3', 'rb', '1', 'Radio Button disable', false, true)


