include ../utils/mixins
block variables

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(property="og:image" content="assets/img/@1x/preview.jpg")
    link(href="assets/img/favicon.png", rel="icon")
    
    title #{title}
    meta(name="description" content=description)

  body(class=PageClass)
    .wrapper
      include ../includes/modules/header

      .content-wrapper
        block content

    //- include ../includes/modules/footer