.wrapper
  margin: 0 auto
  margin-bottom: 230px
  max-width: 1016px
  padding: 0 4px
  min-height: 100vh
  
.scroll-block
  width: 130px
  display: inline-block
  vertical-align: top
  color: $scroll-text
  font-weight: 500
  font-size: 12px
  &__num
    display: block
    box-sizing: border-box
    padding: 11px 5px
  &__dir
    position: absolute
    left: -33px
    top: 216px
    transform: rotate(-90deg)
    svg
      display: inline-block
      vertical-align: middle
      margin-right: 10px

.content
  display: inline-block
  vertical-align: top
  width: calc(100% - 130px)
  &__title
    padding: 0
    margin: 0
    font-weight: 600
    font-size: 56px
    line-height: 72px
    max-width: 470px
    &_section
      margin-bottom: 60px
      font-size: 32px
      line-height: 40px
  &__sub-title
    display: block
    margin-top: 23px
    font-size: 24px
    line-height: 32px
    color: $text-grey


// Only for UI Kit page
.ui-kit 
  .break
    display: block
    margin-bottom: 120px
  .button + .button
    margin-top: 40px
  br + input
    display: block
    margin-top: 40px
    visibility: hidden