.buy
  margin-bottom: 100px
  &__items-wrap
    display: grid
    grid-template-columns: repeat(3, 236px)
    grid-gap: 24px
  .buy-item
    text-align: center
    &:last-of-type
      margin-right: 0
    &__icon
      height: 128px
      margin-top: 7px
      margin-bottom: -2px
      position: relative
      svg
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
    &__name
      color: $text
      font-weight: 600
      font-size: 20px
      line-height: 32px
      margin-bottom: 5px
    &__price
      color: $text-grey
      font-weight: 500
      font-size: 16px
      line-height: 24px
      margin-top: 0
      margin-bottom: 23px