.create
  .scroll-block__num
    padding-top: 14px
  .content__title
    margin-bottom: 85px
  &__production
    display: grid
    grid-template-columns: repeat(3, 236px)
    grid-gap: 24px
  &__radio-name
    font-weight: 500
    font-size: 14px
    line-height: 20px
    margin: 0
    margin-top: 32px
    margin-bottom: 16px
    &:first-of-type
      margin-top: 0
  &__radio-group-warp
    .radio
      &:nth-of-type(1), &:nth-of-type(3)
        width: 130px
        margin-left: 4px
        margin-top: 2px
    .button
      margin-top: 81px
      padding: 0px 16px
  &__chekbox-group-warp
    .part-checkbox__label
      margin-right: 10px
      margin-top: 3px
      margin-bottom: 13px
  &__info
    margin: 0
    margin-top: 48px
    width: 195px
    font-weight: 500
    font-size: 12px
    line-height: 16px
    color: $text-grey
  &__img-group-warp img
    margin-top: -6px
