.modal
  display: none
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  z-index: 900
  &:before
    content: ''
    display: block
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    background: $modal-bg
    opacity: 0.67
    z-index: -1
  &_open
    display: block
  &__body
    background: $text
    border-radius: 10px
    position: absolute
    width: 496px
    height: 240px
    top: 50%
    left: 50%
    padding: 35px
    box-sizing: border-box
    transform: translate(-50%, -50%)
  &__img
    position: absolute
    left: 34px
    top: 48px
  &__title
    width: 320px
    font-weight: 600
    font-size: 32px
    line-height: 40px
    margin: 0
    padding-left: 70px
    margin-bottom: 25px
    color: $text-black
  &__text
    color: $disabled
    font-weight: 600
    font-size: 20px
    line-height: 32px
    margin: 0
    padding-left: 70px
  &__button
    right: 8px
    top: 8px
    background: none
    border: unset
    position: absolute
    outline: unset
    cursor: pointer
    svg
      fill: $orange