.sale
  margin-bottom: 113px
  &__items-wrap
    display: grid
    grid-template-columns: repeat(3, 236px)
    grid-gap: 24px
  .sale-item
    text-align: center
    &:last-of-type
      margin-right: 0
    &__name, &__cur-count
      color: $text
      font-weight: 600
      font-size: 20px
      line-height: 32px
      margin-top: 0
      margin-bottom: 5px
    &__cur-count
      margin-bottom: 20px
    &__price
      color: $text-grey
      font-weight: 500
      font-size: 16px
      line-height: 24px
      margin-top: 0
      margin-bottom: 11px