.start-screen
  position: relative
  margin-bottom: 125px
  &__img
    position: absolute
    right: 0
    top: -24px
    z-index: -1
  .scroll-block
    position: relative
    &__num
      padding-top: 26px