.wallet
  margin-bottom: 98px
  &__coin-wrap
    position: relative
    height: 20px
  &__coin_img
    position: inherit
    height: 100%
    margin-right: -8.3px
    &:first-of-type
      position: relative
      z-index: 100
  &__coin-count
    margin: 0
    margin-top: 23px
    margin-bottom: 43px
    font-size: 24px
    line-height: 24px
    color: $text-grey

  .link
    margin-right: 33px