@import utils/vars
@import utils/mixins
@import utils/libs
@import utils/fonts
@import utils/ui

::selection
	background: $orange-hover
	color: $text

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: 'Montserrat', sans-serif
	overflow-x: hidden
	background: $bg
	color: $text
	box-sizing: border-box

// Custom Sass / Remove before use
@import modules/header
@import modules/body
@import modules/start_screen
@import modules/wallet
@import modules/buy
@import modules/sale
@import modules/create

@import modules/modal